@import "colors";

#swordcraft-overview {
  background-color: transparent;

  header-action-bar {
    display: block;

    h2 {
      color: $plain-white;
      text-shadow: 2px 2px 20px $secondary-blue;
    }
  }

  section {
    display: flex;
    justify-content: flex-end;

    button {
      line-height: 32px;
      padding: 4px 16px;
    }
  }
}
