<mat-drawer-container id="runecraft-overview">
  <mat-drawer #drawer>
    <cards-filter-search
      [headerCraftType]="runeCraftType"
      [currentFilterRequest]="currentFilterRequest"
      (changeSearchFilter)="handleFilterRequest($event)"
    ></cards-filter-search>
  </mat-drawer>
  <mat-drawer-content>
    <header-action-bar>
      <h2 slot="header">Runecraft</h2>
      <ng-container slot="actions">
        <button mat-raised-button class="primary-action-button">Create</button>
      </ng-container>
    </header-action-bar>
    <section class="mt-16 mb-16">
      <button
        mat-raised-button
        class="secondary-action-button"
        (click)="openFilter()"
      >
        <mat-icon>filter_list</mat-icon> Filter
      </button>
    </section>
    <loading-content [hasLoaded]="hasCards()">
      <sv-list
        [cards]="cards"
        (viewCardInfo)="handleCardInfo($event)"
      ></sv-list>
    </loading-content>
  </mat-drawer-content>
</mat-drawer-container>
