@import "./colors.scss";

button.primary-action-button {
  &.mat-mdc-raised-button:not(:disabled) {
    color: $plain-white;
    background-color: $primary-blue;
  }
}

button.primary-action-button.mat-mdc-raised-button:disabled {
  background-color: $primary-blue !important;
  color: $plain-white !important;
  opacity: 50%;
}

button.secondary-action-button {
  &.mat-mdc-raised-button:not(:disabled),
  &.mat-mdc-button:not(:disabled) {
    color: $primary-blue;
    background-color: $plain-white;
  }
}

button.primary-destructive-action-button {
  &.mat-mdc-raised-button:not(:disabled) {
    color: $plain-white;
    background-color: $primary-red;
  }
}
