$primary-red: #870714;
$primary-blue: #064d8f;
$primary-blue-darkest: #041424;
$secondary-red: #ff4081;
$secondary-blue: #01b1da;
$primary-border-blue: #004eff;
$primary-border-red: #b20000;
$plain-white: white;
$plain-black: black;
