// override material styles to match the app UI
.mat-mdc-tab-header-pagination-chevron {
  border-color: $plain-white;
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab__text-label,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab__text-label {
  color: $plain-white;
}

.mat-drawer-container {
  .mat-drawer {
    left: 0;
    max-width: 360px;
    min-width: 320px;
  }
}

.mat-select-panel {
  min-width: calc(100% + 32px) !important;
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: $primary-blue !important;
}

.mat-typography h2 {
  margin: 0px;
}

.mat-mdc-chip-set .mdc-evolution-chip-set__chips {
  min-width: unset !important;
}

// SUCCESS/NORMAL state for forms
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__trailing {
  border-color: $primary-blue;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label,
.mat-mdc-form-field.mat-focused.mat-primary .mat-mdc-select-arrow {
  color: $primary-blue;
}

// ERROR state for forms
.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label,
.mat-mdc-form-field
  .mat-mdc-select.mat-mdc-select-invalid
  .mat-mdc-select-arrow {
  color: $primary-red;
}

.mdc-text-field--invalid:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__leading,
.mdc-text-field--invalid:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__notch,
.mat-mdc-form-field.mat-focused.mat-primary
  .mat-mdc-select-arrow
  .mdc-text-field--invalid:not(
    .mdc-text-field--disabled
  ).mdc-text-field--focused
  .mdc-notched-outline__trailing,
.mdc-text-field--invalid:not(.mdc-text-field--disabled)
  .mdc-notched-outline__leading,
.mdc-text-field--invalid:not(.mdc-text-field--disabled)
  .mdc-notched-outline__notch,
.mdc-text-field--invalid:not(.mdc-text-field--disabled)
  .mdc-notched-outline__trailing,
.mdc-text-field--invalid:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  ):hover
  .mdc-notched-outline
  .mdc-notched-outline__leading,
.mdc-text-field--invalid:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  ):hover
  .mdc-notched-outline
  .mdc-notched-outline__notch,
.mdc-text-field--invalid:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  ):hover
  .mdc-notched-outline
  .mdc-notched-outline__trailing {
  border-color: $primary-red !important;
}

.mdc-text-field--invalid .mdc-text-field__input {
  caret-color: $primary-red;
}

// CHECKBOX
.mat-primary
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
  .mdc-list-item__primary-text {
  color: $primary-blue;
}

.mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
  background-color: $primary-blue;
}

@media (min-width: 600px) {
  .mat-drawer-container {
    position: unset !important;
  }
}
