@import "colors";

#cards-filter-search {
  text-align: center;
  flex-direction: column;
  padding: 8px 16px;
  text-transform: capitalize;

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 0px;
    }

    .mat-icon {
      height: 28px;
      font-size: 28px;
    }

    button {
      width: 0px;
      line-height: 0px;
      position: relative;
      left: 48px;
    }
  }

  form {
    mat-form-field {
      width: 100%;
    }

    mat-chip-list {
      display: flex;
      justify-content: center;

      mat-chip {
        cursor: pointer;
      }
      .mat-chip-selected {
        background-color: $primary-blue;
      }
    }

    section {
      position: absolute;
      bottom: 1.5em;
      left: 0;
      right: 0;
      padding: 8px 16px 0px;

      button {
        width: 100%;
      }
    }
  }
}
