@import "breakpoints";

h4 {
  font-size: 1.2em;
}

form {
  .mat-form-field {
    width: 100%;
  }

  .battle-stats {
    display: flex;
    align-items: center;
    gap: 24px;

    .cols {
      flex: 1;
    }
  }

  evo-card-editor {
    display: block;
  }
}

@media #{$XSmall, $Small} {
  form {
    .battle-stats {
      display: block;
      gap: 0;
    }
  }
}
