@import "colors";

#follower-detail-description {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 6px;
  padding: 20px 24px;

  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 140px;

    h4 {
      color: $secondary-blue;
      margin-bottom: 0px;
    }

    span {
      text-align: center;
      height: 16px;
      width: 16px;
      padding: 4px;
      border-radius: 50%;

      &.atk-dot {
        border: 1px solid $primary-border-blue;
        background-color: $primary-blue;
        color: $plain-white;
      }

      &.def-dot {
        border: 1px solid $primary-border-red;
        background-color: $primary-red;
        color: $plain-white;
      }
    }
  }
}
