@import "colors";
@import "breakpoints";

#card-management {
  width: 60%;
  padding: 24px;
  margin: auto;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin-bottom: 0px;
      font-size: 1.5em;
    }

    .mat-icon {
      height: 36px;
      width: auto;
      font-size: 36px;
    }

    .mat-icon-button .mat-icon {
      line-height: inherit;
    }
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
  }
}

@media #{$XSmall, $Small} {
  #card-management {
    width: 100%;
    padding: 0px;
  }
}
