@import "colors";

#cards-filter-search {
  text-align: center;
  flex-direction: column;
  padding: 20px 16px;
  text-transform: capitalize;

  header {
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
      margin-left: auto;
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 0px;
    }

    .mat-icon {
      transform: scale(1.5);
    }

    button {
      margin-left: 40px;
    }
  }

  form {
    mat-form-field {
      width: 100%;
    }

    mat-chip-listbox {
      display: flex;
      justify-content: center;

      mat-chip-option.mat-mdc-chip-selected {
        background-color: $primary-blue;
      }

      .mat-mdc-chip-action-label {
        text-transform: capitalize;
      }
    }

    section {
      position: absolute;
      bottom: 1.5em;
      left: 0;
      right: 0;
      padding: 8px 16px 0px;

      button {
        width: 100%;
      }
    }
  }
}
