$top-nav-height: 64px;
$nav-height: 48px;

#top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#main-content {
  overflow: auto;
  position: absolute;
  top: $top-nav-height + $nav-height;
  left: 0;
  right: 0;
  bottom: 0;
}
