@import "./colors.scss";

.primary-action-button {
  color: $plain-white;
  background-color: $primary-blue;
}

.secondary-action-button {
  color: $primary-blue;
  background-color: $plain-white;
}

.primary-destructive-action-button {
  color: $plain-white;
  background-color: $primary-red;
}
