@import "styles/core";

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("./assets/sv-background.jpg");
}

.center-text {
  text-align: center;
}

.ck-editor__editable_inline {
  height: 300px;
}
