@import "./colors.scss";
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("./assets/sv-background.jpg");
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.primary-action-button {
  color: $plain-white;
  background-color: $primary-blue;
}

.secondary-action-button {
  color: $primary-blue;
  background-color: $plain-white;
}

.primary-destructive-action-button {
  color: $plain-white;
  background-color: $primary-red;
}
