@import "./colors.scss";
@import "./buttons.scss";
@import "./margins.scss";

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("./assets/sv-background.jpg");
}

.center-text {
  text-align: center;
}

// override material styles to match the app UI
.mat-tab-header-pagination-chevron {
  border-color: $plain-white !important;
}

.mat-drawer-container {
  position: unset !important;

  .mat-drawer {
    left: 0;
    max-width: 360px;
    min-width: 320px;
  }
}

.mat-form-field-outline-thick,
.mat-focused .mat-form-field-label,
.mat-option.mat-selected {
  color: $primary-blue !important;
}

.mat-select-panel {
  min-width: calc(100% + 32px) !important;
}

.mat-pseudo-checkbox-checked {
  background-color: $primary-blue !important;
}
