@import "../../../../styles/colors";

#card-description {
  max-width: 540px;

  .card-skills {
    color: $plain-white;
  }

  .card-content-description {
    margin-top: 16px;
    border-radius: 6px;
    padding: 12px 40px;
    background-color: $primary-blue-darkest;
    color: $secondary-blue;
  }
}
