@import "../../../../colors.scss";

#forestcraft-detail {
  header-action-bar {
    display: block;

    .secondary-action-button {
      margin-right: 1rem;
    }
  }

  .main-detail {
    display: flex;

    img {
      width: 272px;
      height: 354px;
    }

    .is-two-fifth {
      flex-basis: 40%;
    }

    .is-three-fifth {
      flex-basis: 60%;
    }
    .cols {
      flex: 1;
    }

    follower-description,
    card-description {
      display: block;
    }

    .mat-icon {
      height: 48px;
      width: 48px;
      font-size: 48px;
    }

    .mat-icon-button .mat-icon {
      line-height: inherit;
    }
  }

  h2 {
    color: $plain-white;
    text-shadow: 2px 2px 20px $secondary-blue;
  }
}
