<div id="card-management">
  <header>
    <h3>{{ title }}</h3>
    <button
      mat-icon-button
      color="primary"
      aria-label="close"
      (click)="close()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <mat-stepper orientation="vertical">
    <mat-step [stepControl]="cardFormGroup">
      <ng-template matStepLabel>Card</ng-template>
      <form [formGroup]="cardFormGroup">
        <mat-form-field appearance="outline" class="mt-16">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>PPCost</mat-label>
          <input matInput formControlName="ppCost" type="number" min="0" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Rarity</mat-label>
          <mat-select formControlName="rarity">
            <mat-option [value]="rarities.bronze.type">
              {{ rarities.bronze.name }}
            </mat-option>
            <mat-option [value]="rarities.silver.type">
              {{ rarities.silver.name }}
            </mat-option>
            <mat-option [value]="rarities.gold.type">
              {{ rarities.gold.name }}
            </mat-option>
            <mat-option [value]="rarities.legendary.type">
              {{ rarities.legendary.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type">
            <mat-option [value]="cardTypes.follower.type">
              {{ cardTypes.follower.name }}
            </mat-option>
            <mat-option [value]="cardTypes.spell.type">
              {{ cardTypes.spell.name }}
            </mat-option>
            <mat-option [value]="cardTypes.amulet.type">
              {{ cardTypes.amulet.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Pack</mat-label>
          <mat-select formControlName="pack">
            <mat-option *ngFor="let pack of cardPacks">
              {{ pack }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-step>
    <mat-step [stepControl]="audioFormGroup">
      <ng-template matStepLabel>Audio</ng-template>
      <form [formGroup]="audioFormGroup">
        <article class="mt-16">
          <section class="cols is-four-fifth">
            <mat-form-field appearance="outline">
              <mat-label>Location</mat-label>
              <input matInput formControlName="location" />
            </mat-form-field>
          </section>
          <section class="cols action is-one-fifth">
            <button mat-raised-button class="primary-action-button">
              Create
            </button>
          </section>
        </article>
        <mat-form-field>
          <mat-chip-list>
            <mat-chip *ngFor="let fruit of ['foo', 'bar']">
              <mat-icon>music_note</mat-icon>
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-list>
        </mat-form-field>
      </form>
    </mat-step>
    <mat-step [stepControl]="baseFormGroup">
      <ng-template matStepLabel>Evo</ng-template>
      <h4>Base Evolution</h4>
      <form [formGroup]="baseFormGroup">
        <mat-form-field appearance="outline" class="mt-16">
          <mat-label>Art location</mat-label>
          <input matInput formControlName="baseArtLocation" />
        </mat-form-field>
        <article>
          <section class="cols">
            <mat-form-field appearance="outline">
              <mat-label>Atk</mat-label>
              <input matInput formControlName="baseAtk" type="number" min="0" />
            </mat-form-field>
          </section>
          <section class="cols">
            <mat-form-field appearance="outline">
              <mat-label>Def</mat-label>
              <input matInput formControlName="baseDef" type="number" min="0" />
            </mat-form-field>
          </section>
        </article>
        <card-editor
          class="mt-16"
          [editorHeader]="'Ability Text'"
          #baseAbilityEditor
        ></card-editor>
        <card-editor
          class="mt-16"
          [editorHeader]="'Flavor Text'"
          #baseFlavorEditor
        ></card-editor>
      </form>
      <ng-container>
        <mat-divider class="mt-32 mb-32"></mat-divider>
        <h4>Evolved Evolution</h4>
        <form [formGroup]="baseFormGroup">
          <mat-form-field appearance="outline" class="mt-16">
            <mat-label>Art location</mat-label>
            <input matInput formControlName="baseArtLocation" />
          </mat-form-field>
          <article>
            <section class="cols">
              <mat-form-field appearance="outline">
                <mat-label>Atk</mat-label>
                <input
                  matInput
                  formControlName="baseAtk"
                  type="number"
                  min="0"
                />
              </mat-form-field>
            </section>
            <section class="cols">
              <mat-form-field appearance="outline">
                <mat-label>Def</mat-label>
                <input
                  matInput
                  formControlName="baseDef"
                  type="number"
                  min="0"
                />
              </mat-form-field>
            </section>
          </article>
          <card-editor
            class="mt-16"
            [editorHeader]="'Ability Text'"
            #baseAbilityEditor
          ></card-editor>
          <card-editor
            class="mt-16"
            [editorHeader]="'Flavor Text'"
            #baseFlavorEditor
          ></card-editor>
        </form>
      </ng-container>
      <div class="mt-40 button-container">
        <button
          mat-raised-button
          class="secondary-action-button mr-16"
          (click)="close()"
        >
          Cancel
        </button>
        <button mat-raised-button class="primary-action-button">Submit</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
