#main-container {
  background-image: url("../../assets/sv-background.jpg");
  height: 100%;

  mat-toolbar {
    background-color: rgba(0, 0, 0, 0.5);
    h1 {
      color: white;
      text-shadow: 2px 2px 20px #01b1da;
      margin: auto;
    }
  }

  nav {
    background-color: rgba(0, 0, 0, 0.5);
    a {
      color: white;
    }

    .mat-tab-link {
      width: calc(100% / 9);
    }
  }
  .mat-ink-bar {
    background-color: red !important;
  }
}
