<div id="card-details">
    <div class="is-three-fifth">
        <section [ngClass]="{'center-text': isFollower}" class="mb-40">
            <ng-container *ngFor="let card of cardsGallery; let i = index">
                <img [lightbox]="i" gallery="cards-detail-gallery" [src]="card.data.src" decoding="async">
            </ng-container>
        </section>
        <section>
            <follower-description *ngIf="isFollower" [cardDetail]="card"></follower-description>
            <card-description *ngIf="!isFollower" [cardDescription]="cardDescription"></card-description>
        </section>
    </div>
    <div class="is-two-fifth">
        <card-details-description [cardDetail]="card"></card-details-description>
        <button *ngIf="hasAudio" (click)="playAudio()" mat-icon-button class="mt-32" color="accent">
            <mat-icon>play_circle_outline</mat-icon>
        </button>
    </div>
</div>