@import "colors";
@import "breakpoints";

#card-details {
  display: flex;

  img {
    width: 272px;
    height: 354px;
  }

  .is-two-fifth {
    flex-basis: 40%;
  }

  .is-three-fifth {
    flex-basis: 60%;
  }

  follower-description,
  card-description,
  card-details-description {
    display: block;
  }

  card-details-description {
    max-width: 400px;
  }

  .mat-icon {
    transform: scale(2);
  }
}

@media #{$XSmall, $Small} {
  #card-details {
    flex-direction: column;

    card-details-description {
      margin-top: 32px;
      max-width: 100%;
    }

    card-description {
      padding: 0px 24px;
    }
  }
}
