<form [formGroup]="audioStepperFormGroup">
  <mat-form-field appearance="fill">
    <mat-label>Location</mat-label>
    <mat-chip-grid #chipGrid>
      <mat-chip-row
        *ngFor="let audio of audios; let i = index"
        (removed)="removeAudio(i)"
        [matTooltip]="audio"
      >
        <mat-icon>music_note</mat-icon>
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      <input
        placeholder="Location..."
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="addAudio($event)"
      />
    </mat-chip-grid>
    <input matInput formControlName="audioLocationToAdd" />
  </mat-form-field>
</form>
