@import "colors";

#card-details-description {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 24px;
  border-radius: 6px;

  h3 {
    font-size: 1.5em;
    font-weight: 600;
    color: $plain-white;
    text-shadow: 2px 2px 20px $secondary-blue;
  }

  dl {
    color: $plain-white;
    margin-top: 16px;
    margin-bottom: 0px;
    line-height: 30px;

    dt {
      float: left;
      font-weight: bold;
      margin-right: 16px;
    }

    dd {
      text-transform: capitalize;
      margin-left: 0px;
    }
  }
}
